body {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

div.figure {
	padding: 5px;

	background: #F5F5F5;

	text-align: center;
}

div.figure > img {
	height: 400px;

	border: 1px solid #333;
}

div.figure > p.caption {
	font-weight: bold;
}

pre.sourceCode {
	margin-top: 0px;
	padding: 5px;

	background: #FAFAFA;

	text-align: center;
}

code.sourceCode {
	display:inline-block;
	min-width: 400px;
	padding: 5px;

	border: 1px solid #AAA;

	text-align: left;
}